.fa-code {
   color: blue;
}

.fa-docker {
   color: #0db7ed;
}

.fa-linux {
   color: #000000;
}

.fa-python {
   color: #f7df1e;
}

.fa-bitbucket {
   color: #205081;
}

.fa-osi {
   color: red;
}

.fa-js-square {
   color: #f7df1e;
}

.fa-node {
   color: #44883e;
}

.fa-react {
   color: #66e0ff;
}

.fa-html5 {
   color: #e34f26;
}

.fa-css3-alt {
   color: #0099e5;
}

.fa-vuejs {
   color: #00b359;
}

.fa-ubuntu {
   color: #dd4814;
}

.fa-jira {
   color: #036;
}

.fa-confluence {
   color: #0052cc;
}

.fa-cube {
   color: #7a0c00;
}

.fa-cubes {
   color: #000000;
}

.fa-git-square {
   color: #6cc644;
}

.fa-database {
   color: #00758f;
}

.fa-mdb {
   color: #589636;
}

.fa-dharmachakra {
   color: #0073e6;
}

.fa-google {
   color: #ff471a;
}

.fa-trophy {
   color: #f0f051;
}

.fa-brain {
   color:#4c6ef5;
}

.fa-hammer {
   color: #6e4900;
}

.fa-wrench {
   color: #b30000;
}

.fa-palette {
   color: #a002d9;
}
